.newsletter {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 40px 10%;
    margin-bottom: 150px;
    background: linear-gradient(180deg, aliceblue, white);
    gap: 30px;
    text-align: center;}

.newsletter p {
    color: #454545;
    font-size: 55px;
    font-weight: 600;
}
.newsletter div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    width: 100%;
    max-width: 700px;
    border-radius: 80px;
    border: 1px solid #3e3e3e;
    overflow: hidden;
}

.newsletter input {
    flex: 1;
    height: 55px;
    padding-left: 20px;
    border: none;
    outline: none;
    font-size: 16px;
}

.newsletter div button {
    width: 180px;
    height: 55px;
    background: black;
    color: antiquewhite;
    font-size: 16px;
    border:
