.item{
    width: 250px;
    

}
@media (max-width: 900px) {
    .item {
        width: 180px;
    }
    .item img {
        height: 120px;
    }
}
@media (max-width: 600px) {
    .item {
        width: 100%;
    }
    .item img {
        height: 80px;
        width: 100%;
        object-fit: cover;
    }
}
.item p{
    margin:6px  0px ;
}
.item img{
    height: 200px;
}
.item-price{
    display: flex;
    gap: 20px;
}
.item-new-price{
    color: #372151;
    font-size: 16px;
    font-weight: 600;
}
.item-old-price{
    color: #3721;
    font-size: 16px;
    font-weight: 600;
}
.item:hover{
    transform: scale(1.1);
    transition: 0.6s;
}
