
.item {
    width: 100%;
    max-width: 250px;
    box-sizing: border-box;
    transition: transform 0.3s ease;
}
.item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.item p {
    margin: 6px 0;
}

.item-price {
    display: flex;
    gap: 20px;
}

.item-new-price {
    color: #372151;
    font-size: 16px;
    font-weight: 600;
}

.item-old-price {
    color: #999;
    font-size: 16px;
    font-weight: 600;
    text-decoration: line-through;
}

.item:hover {
    transform: scale(1.05);
}
@media (max-width: 900px) {
    .item {
        max-width: 180px;
    }
}
@media (max-width: 600px) {
    .item {
        max-width: 100%;
    }
}
