.bredcrums{
    display: flex;
    align-items: center;
    gap: 8px;
    color: #5e5e5e;
    font-size: 14px;
    font-weight: 600;
    justify-content: center;
    text-transform: capitalize;
    margin-top: 30;
    margin-bottom: 30px;


}
@media (max-width: 900px) {
    .bredcrums {
        font-size: 12px;
        gap: 4px;
    }
}
@media (max-width: 600px) {
    .bredcrums {
        font-size: 10px;
        gap: 2px;
    }
}