
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 40px 20px;
    text-align: center;
}
.footer-logo {
    display: flex;
    align-items: center;
    gap: 15px;
}
.footer-logo p {
    color: #383838;
    font-size: 40px;
    font-weight: 700;
}
.footer-links {
    display: flex;
    list-style: none;
    gap: 40px;
    color: #252525;
    font-size: 18px;
    flex-wrap: wrap;  
    justify-content: center;
}

.footer-links li {
    cursor: pointer;
}
.footer-social-icon {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-icon-container {
    padding: 10px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
}
.footer-copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-bottom: 20px;
    color: #1a1a1a;
    font-size: 18px;
}

.footer-copyright hr {
    width: 80%;
    max-width: 500px;
    border: none;
    border-radius: 10px;
    height: 3px;
    background: #c7c7c7;
}
@media (max-width: 900px) {
    .footer-logo p {
        font-size: 28px;
    }

    .footer-links {
        gap: 20px;
        font-size: 16px;
    }
}

@media (max-width: 600px) {

    .footer {
        gap: 25px;
    }

    .footer-logo {
        flex-direction: column;
    }

    .footer-logo p {
        font-size: 22px;
    }

    .footer-links {
        flex-direction: column;
        gap: 12px;
        font-size: 14px;
    }

    .footer-social-icon {
        gap: 12px;
    }

    .footer-copyright {
        font-size: 14px;
    }
}
