
 .cartitems{
    margin: 50px 70px;
}

.cartitems-format-main{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 30px;
    padding: 10px 0px;
    color: #454545;
    font-size: 18px;
    font-weight: 600;
}

.cartitems-format{
    font-size: 15px;
    font-weight: 500;
}

.cartitems hr{
    height: 3px;
    background: #e2e2e2;
    border: 0;
}

.carticon-product-icon{
    height: 50px;
}

.cartitems-remove-icon{
    width: 15px;
    margin: 0px 30px;
    cursor: pointer;
}

.cartitems-quantity{
    height: 40px;
    width: 100px;
}

.cartitems-down{
    display: flex;
    margin: 70px 0px;
    gap: 40px;
}

.cartitems-total{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.cartitems-total-item{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}

.cartitems-total button{
    width: 250px;
    height: 50px;
    border: none;
    background: #ff5a5a;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.cartitems-promocode{
    flex: 1;
    font-size: 16px;
    font-weight: 500;
}

.cartitems-promobox{
    width: 100%;
    max-width: 400px;
    margin-top: 15px;
    height: 50px;
    background: #eaeaea;
    display: flex;
}

.cartitems-promobox input{
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    flex: 1;
    padding-left: 15px;
}

.cartitems-promobox button{
    width: 120px;
    background: black;
    color: white;
    cursor: pointer;
}


@media (max-width: 900px){

    .cartitems{
        margin: 20px 10px;
    }

    .cartitems-format-main{
        grid-template-columns: 1fr 2fr 1fr;
        font-size: 14px;
        gap: 10px;
    }

    .cartitems-down{
        flex-direction: column;
        gap: 30px;
    }

    .cartitems-total button{
        width: 100%;
    }
}

@media (max-width: 600px){

    .cartitems{
        margin: 10px 5px;
    }

    .cartitems-format-main{
        grid-template-columns: 1fr;
        text-align: center;
        font-size: 13px;
        gap: 8px;
    }

    .carticon-product-icon{
        margin: auto;
    }

    .cartitems-remove-icon{
        margin: auto;
    }

    .cartitems-quantity{
        width: 100%;
    }

    .cartitems-total button{
        width: 100%;
        font-size: 14px;
    }

    .cartitems-promobox{
        flex-direction: column;
        height: auto;
    }

    .cartitems-promobox input{
        height: 45px;
    }

    .cartitems-promobox button{
        width: 100%;
        height: 45px;
    }
}

