.productdisplay {
    display: flex;
    margin: 0px 70px;
    
}
@media (max-width: 900px) {
    .productdisplay {
        flex-direction: column;
        margin: 0px 10px;
    }
    .productdisplay-main-img {
        width: 100%;
        height: 400px;
    }
    .productdisplay-right {
        margin: 0px;
    }
}
@media (max-width: 600px) {
    .productdisplay {
        flex-direction: column;
        margin: 0px 2px;
    }
    .productdisplay-main-img {
        width: 100%;
        height: 250px;
    }
    .productdisplay-right {
        margin: 0px;
    }
}
.productdisplay-left{
    display: flex;
    gap: 17px;

}
.productdisplay-img-list{
    height: 160px;

}
.productdisplay-main-img{
    width: 450px;
    height:700px;
   
}
.productdisplay-right{
   margin: 0px  50px;
   display: flex;
   flex-direction: column;
}
.productdisplay-right h2{
    font-weight: 400;
    font-size: 25px;
    margin-bottom: -10px;
}

.productdisplay-right-size {
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.productdisplay-right-size h1 {
    margin-left: 100px;
    font-size: 20px;
    font-weight: 600;
    color: #2c2c2c;
    margin-bottom: 10px;
}

.productdisplay-right-size > div {
    display: flex;
    gap: 15px;
    align-items: center;
}

.productdisplay-right-size div {
    width: 50px;
    height: 50px;
    border: 2px solid #ebebeb;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    background-color: #ffffff;
    color: #2c2c2c;
    font-size: 16px;
}

.productdisplay-right-size div:hover {
    border-color: #ff4141;
    background-color: #fff5f5;
    color: #ff4141;
}

.productdisplay-right-size div:active {
    border-color: #ff4141;
    background-color: #ff4141;
    color: #ffffff;
}


.productdisplay-right-buy {
    display: flex;
    gap: 15px;
    margin: 30px 0px;
}

.productdisplay-right-buy-btn {
    padding: 15px 50px;
    border: none;
    border-radius: 5px;
    background-color: #ff4141;
    color: white;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
}

.productdisplay-right-buy-btn:hover {
    background-color: #e03a3a;
    transform: translateY(-2px);
    box-shadow: 0px 5px 15px rgba(255, 65, 65, 0.3);
}

.productdisplay-right-buy-btn:active {
    transform: translateY(0px);
    box-shadow: 0px 2px 5px rgba(255, 65, 65, 0.2);
}
