 .productdisplay {
    display: flex;
    gap: 40px;
    margin: 40px 70px;
}

.productdisplay-left {
    display: flex;
    gap: 15px;
}

.productdisplay-img-list img {
    width: 70px;
    height: 90px;
    object-fit: cover;
    cursor: pointer;
}

.productdisplay-main-img {
    width: 100%;
    max-width: 450px;
    height: auto;
    object-fit: cover;
}

.productdisplay-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.productdisplay-right h2 {
    font-weight: 400;
    font-size: 26px;
}

.productdisplay-right-size {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.productdisplay-right-size h1 {
    font-size: 20px;
    font-weight: 600;
    color: #2c2c2c;
}

.productdisplay-right-size > div {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}

.productdisplay-right-size div {
    width: 45px;
    height: 45px;
    border: 2px solid #ebebeb;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.productdisplay-right-buy {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.productdisplay-right-buy-btn {
    padding: 14px 40px;
    border: none;
    border-radius: 5px;
    background-color: #ff4141;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
@media (max-width: 900px) {

    .productdisplay {
        flex-direction: column;
        margin: 20px;
    }

    .productdisplay-left {
        flex-direction: column-reverse;
        align-items: center;
    }

    .productdisplay-img-list {
        display: flex;
        gap: 10px;
    }

    .productdisplay-main-img {
        max-width: 100%;
    }
}

@media (max-width: 600px) {

    .productdisplay {
        margin: 10px;
        gap: 20px;
    }

    .productdisplay-right h2 {
        font-size: 20px;
    }

    .productdisplay-right-buy-btn {
        width: 100%;
        text-align: center;
    }

    .productdisplay-right-size div {
        width: 40px;
        height: 40px;
        font-size: 14px;
    }
}

