.loginsignup-container h1 {
    margin: 20px 0;
    text-align: center;
}

.loginsignup-fields {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}

.loginsignup-fields input {
    height: 50px;
    width: 100%;
    padding-left: 20px;
    outline: none;
    border: 1px solid #c9c9c9;
    font-size: 16px;
}
.loginsignup-container button {
    width: 100%;
    height: 45px;
    color: white;
    background: #ff4141;
    margin-top: 25px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
.loginsignup-login,
.loginsignup-agree {
    font-size: 16px;
    margin-top: 20px;
}
.loginsignup-login span {
    color: #ff4141;
    font-weight: 600;
}
@media (max-width: 900px) {
    .loginsignup-container {
        padding: 30px 25px;
    }
}
@media (max-width: 600px) {
    .loginsignup {
        padding: 60px 15px 30px;
    }

    .loginsignup-container {
        padding: 25px 15px;
    }

    .loginsignup-fields input {
        height: 45px;
        font-size: 14px;
    }

    .loginsignup-container button {
        font-size: 16px;
        height: 42px;
    }
}
