.loginsignup{
    height: vh;
    width: 100%;
     background: linear-gradient(180deg,#c2b3c2,#06a13422 60% );
padding-top: 100px;
padding-bottom: 50px;
}
   

.loginsignup-container{
    width: 550px;
    height: 600px;
    background: white;
    margin:auto;
    padding:40px 60px;
}
.loginsignup-container h1 {
    margin: 20px 0px;

}
.loginsignup-fields{
    display: flex;
   flex-direction: column;
    gap: 30px;
    margin-top: 30px;
    border: 1px solid #c9c9c9;
    
 
}
.loginsignup-fields input{
    height: 50px;
    width: 100%;
    padding-left: 20px;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;



}
.loginsignup-login{
    margin-top: 20px;
    color:  #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}
.loginsignup-login span{
    color: #ff4141;
    font-weight: 600;

}
.loginsignup-agree{
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;

} 
.loginsignup-container button{
    width: 400px;
    height: 40px;
    color: white;
    background: #ff4141;
    margin-top: 25px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    margin-left: 15px;

}
