.shopcategory-banner{
display: block;
margin: 30px auto;
width: 82%;
}

.shopcategory-index{
    display: flex;
    margin: 0px 170px;
    justify-content: space-between;
    align-items: center;



}
.shopcategory-sort{
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid red ;

}
.shopcategory-index p span{
   
font-weight: 600;

}
.shopcategory-products{
    margin: 20px 170px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 80px;
}