.popular {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 40px 20px;
    min-height: 90vh;
    background: linear-gradient(180deg,#c2b3c2,#06a13422 60%);
}

.popular h1 {
    color: #171717;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}

.popular hr {
    width: 200px;
    height: 4px;
    border: none;
    border-radius: 10px;
    background: #252525;
}

.popular-item {
    margin-top: 50px;
    display: flex;
    gap: 25px;
    flex-wrap: wrap;  
    justify-content: center;
}
@media (max-width: 900px) {
    .popular h1 {
        font-size: 28px;
    }

    .popular-item {
        gap: 20px;
    }
}
@media (max-width: 600px) {
    .popular {
        padding: 30px 10px;
    }

    .popular h1 {
        font-size: 20px;
    }

    .popular hr {
        width: 120px;
    }

    .popular-item {
        gap: 15px;
    }
}
