.collectios{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
      background: linear-gradient(180deg,#c2b3c2,#06a13422 60% );
      margin-bottom: 100px;
}
.newcollectio h1 
{color:#171717;
   font-size: 40;
   font-weight: 600; 
}
.newcollectio hr{
width: 200px;
border-radius: 10px;
background: #252525;
}
.newcollectio{
    margin-top: 50px;
    display: flex;
    }


    .collections{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 50px;
        gap: 30px;
    }