
.relatedproducts{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;

}
.relatedproducts h1{
    color: #171717;
    font-size: 40px;
    font-weight: 600;
}
.relatedproducts hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}
.relatedproducts-item{
    margin-top: 50px;
    display: flex;
    gap: 30px;
}
@media (max-width: 900px) {
    .relatedproducts-item {
        flex-direction: column;
        gap: 15px;
    }
    .relatedproducts h1 {
        font-size: 24px;
    }
}
@media (max-width: 600px) {
    .relatedproducts-item {
        flex-direction: column;
        gap: 10px;
    }
    .relatedproducts h1 {
        font-size: 16px;
    }
}

